<h1>Password Generator</h1>
<form action={% url 'password' %}>
	<lable id="length">Select Length</lable>
	<select name="length">
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11" selected>11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
	</select>
	<br>
	<br>
	<input type="checkbox" name="uppercase">uppercase
	<br>
	<input type="checkbox" name="lowercase">lowercase
	<br>
	<input type="checkbox" name="numbers">numbers
	<br>
	<input type="checkbox" name="specialcharacters">specialcharacters
	<br>
	<br>
	<input type="submit" value="submit values">

</form>	
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<a href={% url 'about' %} >ABOUT</a>